.login-form-container{
  padding-left: 500px;
  padding-right: 500px;
  padding-top: 100px;

  h1{
    text-align: center;
  }

  .login-form-button{
    text-align: center;

    button{
      width: 120px;
    }
  }
}
